* {
  padding: 0%;
  margin: 0%;
}

/* estilo de la pagina (color de fondo) */
.pagina {
  /* position: absolute; */
  /* top: 0px;
  left: 0px;
  width: 1920px;
  height: 4739px; */
  background: transparent linear-gradient(180deg, #B9D5D3 0%, #AFC7C5 28%, #A7BBB9 42%, #9FAEAD 59%, #929B9B 89%, #808080 100%) 0% 0% padding-box;
  opacity: 1;
}

/* FIN estilo de la pagina (color de fondo) */
.button-nav4, .button-nav3, .button-nav2, .button-nav1, .button-nav0 {
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0) 0% 0% no-repeat padding-box;
  box-shadow: inset 2px 3px 6px #0000001F, inset -2px -2px 3px #457470c9;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.button-nav4 :hover, .button-nav3 :hover, .button-nav2 :hover, .button-nav1 :hover, .button-nav0 :hover {
  backdrop-filter: sepia(20%);
  text-shadow: 3px 3px 30px #000;
}

.button-nav4 :active, .button-nav3 :active, .button-nav2 :active, .button-nav1 :active, .button-nav0 :active {
  box-shadow: -2px -2px 3px #0000001F, 2px 3px 6px #457470c9;
  border-radius: 10px;
}

.space-line {
  display: flex;
  margin: 50px;
  border: 1px solid #869695;
  opacity: 0.5;
}

.footer {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #D1D1D1 0% 0% padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.button-nav0 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-nav1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-nav2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-nav3 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-nav4 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  height: 75px;
  width: 100%;
  right: 0px;
  left: 0px;
  z-index: 5;
}
.menu .nav {
  width: 100%;
  height: 100%;
  background: #79c4bfc9 0% 0% padding-box;
  border: 1px solid #B9D5D3;
  border-radius: 17px;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.menu .nav .list-property {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  grid-template-columns: 0.3fr 0.3fr 1fr 0.2fr;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.menu .nav .position-logo {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 3px;
}
.menu .nav .position-name {
  grid-area: 1/2/2/3;
}
.menu .nav .position-class {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: space-around;
}
.menu .nav .position-social {
  grid-area: 1/4/2/5;
  display: flex;
  justify-content: space-around;
}
.menu .nav .logo {
  list-style: none;
}
.menu .nav .logo .a {
  display: flex;
  height: 100%;
}
.menu .nav .logo .logomain {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background: transparent url("assets/images/logolaschicas.png") 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
}
.menu .nav .logo .txt {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font: normal normal normal 20px/20px Ink Free;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
}
.menu .nav .logo .txtbis {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: left;
  font: normal normal normal 11px/11px Calibri;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.menu .nav .logo .text-0, .menu .nav .logo .text-1, .menu .nav .logo .text-2, .menu .nav .logo .text-3, .menu .nav .logo .text-4 {
  padding: 6px;
  font: normal normal normal 15px/20px Calibri;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.menu .nav .logo .bi {
  height: 16px;
  color: #FF5C5D;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.menu .nav .logo .bi-instagram {
  margin-top: 180%;
}
.menu .nav .logo .bi-facebook {
  margin-top: 180%;
}
.menu .nav .logo .bi-whatsapp {
  margin-top: 180%;
}

ul {
  text-decoration: none;
}

.button-nav0, .button-nav1, .button-nav2, .button-nav3, .button-nav4 {
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0) 0% 0% no-repeat padding-box;
  box-shadow: inset 2px 3px 6px #0000001F, inset -2px -2px 3px #457470c9;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.button-nav0 :hover, .button-nav1 :hover, .button-nav2 :hover, .button-nav3 :hover, .button-nav4 :hover {
  backdrop-filter: sepia(20%);
  text-shadow: 3px 3px 30px #000;
}

.button-nav0 :active, .button-nav1 :active, .button-nav2 :active, .button-nav3 :active, .button-nav4 :active {
  box-shadow: -2px -2px 3px #0000001F, 2px 3px 6px #457470c9;
  border-radius: 10px;
}

.space-line {
  display: flex;
  margin: 50px;
  border: 1px solid #869695;
  opacity: 0.5;
}

.footer {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #D1D1D1 0% 0% padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.bi {
  height: 25px;
  color: #FF5C5D;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer .first-ch-footer {
  grid-area: 1/1/2/2;
  display: inline-flex;
  flex-direction: row;
}
.footer .first-ch-footer .linea-vertical-footer {
  display: inline-flex;
  flex-direction: row;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 70px;
  width: 2px;
  height: 200px;
  background-color: #707070;
}
.footer .first-ch-footer .lista-footer {
  display: inline-flex;
  flex-direction: column;
  margin-top: 77px;
  margin-bottom: 0px;
  list-style: none;
}
.footer .first-ch-footer .lista-footer .text-lista-footer {
  text-decoration: none;
  text-align: left;
  font: normal normal normal 20px/24px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.footer .second-ch-footer {
  grid-area: 1/2/2/3;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .second-ch-footer .cuadro-footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 230px;
  height: 100px;
  border: 5px solid #707070;
  opacity: 1;
}
.footer .second-ch-footer .cuadro-footer .titulo-cuadro-footer {
  display: block;
  margin-top: 10px;
  text-align: center;
  font: normal normal normal 20px/24px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.footer .second-ch-footer .cuadro-footer .titulo-cuadro-footer .num-cuadro-footer {
  text-decoration: none;
  font: normal normal normal 35px/50px Calibri;
  color: #000000;
}
.footer .second-ch-footer .logosfooter {
  display: inline-flex;
  margin-top: 15px;
}
.footer .second-ch-footer .logosfooter .bi-logofooterwsp {
  margin-right: 10px;
}
.footer .third-ch-footer {
  grid-area: 1/3/2/4;
  display: flex;
  flex-direction: column;
}
.footer .third-ch-footer .bi-logofooter {
  display: flex;
  margin-top: 100px;
  margin-left: 300px;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  opacity: 1;
}
.footer .text-copiright {
  grid-area: 2/1/3/4;
  display: flex;
  justify-content: end;
  height: 24px;
  text-align: left;
  font: normal normal normal 15px/24px Calibri;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.button-nav0, .button-nav1, .button-nav2, .button-nav3, .button-nav4 {
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0) 0% 0% no-repeat padding-box;
  box-shadow: inset 2px 3px 6px #0000001F, inset -2px -2px 3px #457470c9;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.button-nav0 :hover, .button-nav1 :hover, .button-nav2 :hover, .button-nav3 :hover, .button-nav4 :hover {
  backdrop-filter: sepia(20%);
  text-shadow: 3px 3px 30px #000;
}

.button-nav0 :active, .button-nav1 :active, .button-nav2 :active, .button-nav3 :active, .button-nav4 :active {
  box-shadow: -2px -2px 3px #0000001F, 2px 3px 6px #457470c9;
  border-radius: 10px;
}

.space-line {
  display: flex;
  margin: 50px;
  border: 1px solid #869695;
  opacity: 0.5;
}

.footer {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #D1D1D1 0% 0% padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.slide img {
  height: 500px;
  object-fit: cover;
}

.slide {
  background-color: transparent linear-gradient(180deg, #B9D5D3 0%, #AFC7C5 28%, #A7BBB9 42%, #9FAEAD 59%, #929B9B 89%, #808080 100%) 0% 0% padding-box;
  padding-top: 100px;
  grid-area: carousel;
}

.slide h5 {
  background-color: rgba(128, 128, 128, 0.616);
  margin-bottom: 0px;
}

.slide p {
  background-color: rgba(128, 128, 128, 0.616);
}

.inicio {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "carousel carousel carousel" "foto1 foto2 foto3";
}
.inicio .fotos-inicio {
  display: flex;
  /* display: inline-block; */
  /* border: 1px solid gray ; */
  margin: 30px;
  border-radius: 15px;
}
.inicio .foto1 {
  grid-area: foto1;
  background-image: url("../assets/images/img9.png");
}
.inicio .foto2 {
  grid-area: foto2;
  background-image: url("../assets/images/img3.png");
}
.inicio .foto3 {
  grid-area: foto3;
  background-image: url("../assets/images/img5.png");
}

.button-nav0, .button-nav1, .button-nav2, .button-nav3, .button-nav4 {
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0) 0% 0% no-repeat padding-box;
  box-shadow: inset 2px 3px 6px #0000001F, inset -2px -2px 3px #457470c9;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.button-nav0 :hover, .button-nav1 :hover, .button-nav2 :hover, .button-nav3 :hover, .button-nav4 :hover {
  backdrop-filter: sepia(20%);
  text-shadow: 3px 3px 30px #000;
}

.button-nav0 :active, .button-nav1 :active, .button-nav2 :active, .button-nav3 :active, .button-nav4 :active {
  box-shadow: -2px -2px 3px #0000001F, 2px 3px 6px #457470c9;
  border-radius: 10px;
}

.space-line {
  display: flex;
  margin: 50px;
  border: 1px solid #869695;
  opacity: 0.5;
}

.footer {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #D1D1D1 0% 0% padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.Secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  height: 700px;
  /* background: transparent url('/assets/images/Fondo1.jpg') 0% 0% no-repeat padding-box; */
  /* border: 1px solid black; */
  /* background-image: url("/assets/images/Fondo1.jpg");background-repeat: no-repeat;background-size: cover */
  /* background-color: transparent;
  background-image: url('/assets/images/Fondo1.jpg'); */
  background-image: url("../assets/images/Fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  border-radius: 25px;
  opacity: 1;
  backdrop-filter: blur(20px);
}

.titulo-secciones {
  display: flex;
  z-index: 1;
  width: 485px;
  height: 90px;
  background: #B9D5D3 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 29px;
  opacity: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* text */
  margin-top: 10px;
  justify-content: center;
  font: normal normal normal 50px/80px Calibri;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.button-nav0, .button-nav1, .button-nav2, .button-nav3, .button-nav4 {
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0) 0% 0% no-repeat padding-box;
  box-shadow: inset 2px 3px 6px #0000001F, inset -2px -2px 3px #457470c9;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.button-nav0 :hover, .button-nav1 :hover, .button-nav2 :hover, .button-nav3 :hover, .button-nav4 :hover {
  backdrop-filter: sepia(20%);
  text-shadow: 3px 3px 30px #000;
}

.button-nav0 :active, .button-nav1 :active, .button-nav2 :active, .button-nav3 :active, .button-nav4 :active {
  box-shadow: -2px -2px 3px #0000001F, 2px 3px 6px #457470c9;
  border-radius: 10px;
}

.space-line {
  display: flex;
  margin: 50px;
  border: 1px solid #869695;
  opacity: 0.5;
}

.footer {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #D1D1D1 0% 0% padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.item-producto {
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "prod1 prod2 prod3" "prod4 prod5 prod6";
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.item-producto .prod {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: inline-block; */
  /* border: 1px solid gray ; */
  width: 80%;
  height: 80%;
}
.item-producto .prod1 {
  grid-area: prod1;
  background-image: url("../assets/images/img10.png");
}
.item-producto .prod2 {
  grid-area: prod2;
  background-image: url("../assets/images/img12.png");
}
.item-producto .prod3 {
  grid-area: prod3;
  background-image: url("../assets/images/img14.png");
}
.item-producto .prod4 {
  grid-area: prod4;
  background-image: url("../assets/images/img11.png");
}
.item-producto .prod5 {
  grid-area: prod5;
  background-image: url("../assets/images/img7.png");
}
.item-producto .prod6 {
  grid-area: prod6;
  background-image: url("../assets/images/img16.png");
}
.item-producto .titulo-prod .descripcion-producto {
  z-index: 2;
  text-decoration: none;
  /* top: 173px;
  left: 173px; 
  width: 128px;
  height: 49px; */
  text-align: center;
  font: normal normal bold 40px/49px Calibri;
  -webkit-text-stroke: 1px grey;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
