@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";


.slide img{
    height: 500px;
    object-fit: cover;
  }
.slide {
    background-color: transparent linear-gradient(180deg, #B9D5D3 0%, #AFC7C5 28%, #A7BBB9 42%, #9FAEAD 59%, #929B9B 89%, #808080 100%) 0% 0% padding-box;;
    padding-top: 100px;
    grid-area: carousel;
}
.slide h5 {
    background-color: rgba(128, 128, 128, 0.616);
    margin-bottom: 0px;
}
.slide p {
    background-color: rgba(128, 128, 128, 0.616);
}


.inicio{
    // display: grid;
    // justify-content: center;
    // grid-template-rows: 1fr 0.5fr;
    // grid-template-columns: repeat(3, 1fr);
    // // border: 3px solid black;
    // grid-template-areas:
    // 'carousel carousel carousel'
    // 'foto1 foto2 foto3';
    .fotos-inicio {
        display: flex;
        height: 200px;
        justify-content: space-around;
        // background-size: contain;
        background-repeat: no-repeat;
    /* display: inline-block; */
    /* border: 1px solid gray ; */
        // width: 400px;
        // height: 300px;
        margin: 30px;
        // border-radius: 15px;
    }
    .foto1{
        // grid-area: foto1;
        display: flex;
        justify-content: center;
        width: 200px;
        border-radius: 5%;
        // background-image: url("../assets/images/img9.png");
    }
    .foto2{
        display: flex;
        justify-content: center;
        width: 200px;
        border-radius: 5%;
        // grid-area: foto2;
        // background-image: url("../assets/images/img3.png");
    }
    .foto3{
        display: flex;
        justify-content: center;
        width: 200px;
        border-radius: 5%;
        // grid-area: foto3;
        // background-image: url("../assets/images/img5.png");
    }

}