@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";


a:link, a:visited, a:active  {
    text-decoration: none
}

.space-line {
    @extend %spaceline_style;
}

.button-nav0 {
    @include display_position (flex, 20px, 20px, null);
    @extend %button-nav;
        :hover {
            @extend %button-hv;
        }
        :active {
            @extend %button-active;
        }
}
.button-nav1 {
    @include display_position (flex, 20px, 20px, null);
    @extend %button-nav;
        :hover {
            @extend %button-hv;
        }
        :active {
            @extend %button-active;
        }
}
.button-nav2 {
    @include display_position (flex, 20px, 20px, null);
    @extend %button-nav;
        :hover {
            @extend %button-hv;
        }
        :active {
            @extend %button-active;
        }
}
.button-nav3 {
    @include display_position (flex, 20px, 20px, null);
    @extend %button-nav;
        :hover {
            @extend %button-hv;
        }
        :active {
            @extend %button-active;
        }
}
.button-nav4 {
    @include display_position (flex, 20px, 20px, null);
    @extend %button-nav;
        :hover {
            @extend %button-hv;
        }
        :active {
            @extend %button-active;
        }
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 75px;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: 5;
    .nav {
        width: 100%;
        height: 100%;
        justify-content: center;
        background: #79c4bfc9 0% 0% padding-box;
        border: 1px solid #B9D5D3;
        border-radius: 17px;
        opacity: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        // grid-template-areas: 'logo nombre class social';
        .list-property {
            display: grid;
            width: 1020px;
            height: 100%;
            margin-bottom: 0px;
            padding-left: 0px;
            grid-template-columns: 0.3fr 0.3fr 1fr 0.2fr;
            grid-template-rows: 100%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        .position-logo {
            grid-area: 1 / 1 / 2 / 2;
            display: flex;
            justify-content: space-around;
            height: 100%;
            padding: 3px;
        }
        .position-name {
            grid-area: 1 / 2 / 2 / 3;
        }
        .position-class {
            grid-area: 1 / 3 / 2 / 4;
            display: flex;
            justify-content: space-around;
        }
        .position-social {
            grid-area: 1 / 4 / 2 / 5;
            display: flex;
            justify-content: space-around;
        }

        .logo {
            // display: flex; 
            // /* antes estaba con inline */
            // text-decoration: none;
            list-style: none;
            // height: 100%;
            .a {
                display: flex;
                height: 100%;
            }
            .logomain {
                height: 100%;
                width: 100%;
                object-fit: contain;
                background: transparent url('assets/images/logolaschicas.png') 0% 0% no-repeat padding-box;
                border-radius: 27px;
                opacity: 1;
            }
            .txt {
                @include display_position (flex, 20px, 0px, null);
                @include text_desing (center, normal normal normal 20px/20px Ink Free);
                text-decoration: none;
            }
            .txtbis {
                @include display_position (flex, null, null, null);
                @include text_desing (left, normal normal normal 11px/11px Calibri);
            }
            .text-0, .text-1, .text-2, .text-3, .text-4 {
                padding: map-get($map: $textsections, $key: pading ) ;
                font: map-get($map: $textsections, $key: fontstyle );
                letter-spacing: map-get($map: $textsections, $key: letterspacing );
                color: map-get($map: $textsections, $key: color);
                text-transform: map-get($map: $textsections, $key: text-transform );
                opacity: map-get($map: $textsections, $key: opacity );
            }
            .bi {
                @include display_position (null, null, null, 16px);
                color: #FF5C5D;
                background: transparent 0% 0% no-repeat padding-box;
                opacity: 1;
            }
            .bi-instagram {
                @include display_position (null, 180%,null, null);
            }
            .bi-facebook {
                @include display_position (null, 180%, null, null);
            }
            .bi-whatsapp {
                @include display_position (null, 180%, null, null);
            }
        }
    }
}
    .nav2 {
        background: #79c4bfc9 0% 0% padding-box;
        div {
            display: flex;
            .logomain {
                display: flex;
                height: 50px;
                width: 100%;
                margin-left: 5px;
                object-fit: contain;
                background: transparent url('assets/images/logolaschicas.png') 0% 0% no-repeat padding-box;
                border-radius: 27px;
                opacity: 1;
            }
            .offcanvas {
                background: #79c4bfea 0% 0% padding-box;
            }
        }
        .txt {
            @include display_position (flex, 20px, 0px, null);
            @include text_desing (center, normal normal normal 20px/20px Ink Free);
            margin-left: 10px;
            text-decoration: none;
        }
        .txtbis {
            @include display_position (flex, null, null, null);
            @include text_desing (left, normal normal normal 11px/11px Calibri);
        }
    }

ul {
    text-decoration: none;
}
