.bg-nosotras {
    background-image: url("../assets/images/img1.png");
    background-repeat: no-repeat;
    background-position: 100%;
}
.imagen {
    width: 300px;
}
.div-img{
    display: flex;
    justify-content: center;
}
